body, html {
  position: relative;
  display: flex; /* repare aqui */
  flex-direction: column; /* repare aqui*/
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #fff !important;
  font-family: "Madimi One", sans-serif;
  background-color: #a0081b;
  overflow: hidden;
  /* display: flex; */
  justify-content: center;
}

  div span {
  font-weight: bold;
  font-size: 1.0em; /* Tamaño de la fuente un poco más grande */
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  border: none;
}



/* .video-container-test{
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.8); Fondo oscuro semi-transparente */

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */




body {
  flex: 1;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 135px;
  background-color: #a0081b;
  background-image: url('/images/img/bg_slider.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.dreamcatcher-cashier-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  z-index: 9999; /* Índice z alto para que esté en la parte superior */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dreamcatcher-cashier-container {
  position: relative;
  z-index: 10000; /* Asegura que DreamcatcherCashier esté encima del overlay */
}

/* Estilos opcionales para DreamcatcherCashier */
.dreamcatcher-cashier {
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}


.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}

.topbar {
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 9;
  background-color: #a0081b;
  background-image: url('/images/img/topbar.jpg');
  background-size: 100% 80px;
  background-repeat: no-repeat;
}
.logo {
  width: 350px;
  height: auto;
  float: left;
}
.logo img {
  width: 100%;
  height: auto;
}
.nav {
  padding-right: 15px;
  /* display: flex;
  align-items: center; */
  height: 170px;
  float: right;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}
.jackpot {
  width: 215px;
  height: 50px;
  background-image: url('/images/img/jackpot.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.jackpot span {
  float: right;
  width: 105px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.acumulado {
  width: 280px;
  height: 50px;
  background-image: url('/images/img/acumulado.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.acumulado span {
  float: right;
  width: 105px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 44px;
}
.gran {
  width: 265px;
  height: 50px;
  background-image: url('/images/img/gran.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.gran span {
  float: right;
  width: 105px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}
.menor {
  width: 275px;
  height: 50px;
  background-image: url('/images/img/menor.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.menor span {
  float: right;
  width: 105px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.express {
  width: 250px;
  height: 50px;
  background-image: url('/images/img/express.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.express span {
  float: right;
  width: 105px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 53px;
}
.menu {
  padding-right: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
}
.all {
  background: transparent;
  border: none;
  width: 260px;
  height: 90px;
  background-image: url('/images/img/all1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}
.all:hover,
.all:active,
.all.active {
  background-image: url('/images/img/all2.png');
}
.crash {
  background: transparent;
  border: none;
  width: 260px;
  height: 90px;
  background-image: url('/images/img/crash1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}
.crash:hover,
.crash:active,
.crash.active {
  background-image: url('/images/img/crash2.png');
}
.slots {
  background: transparent;
  border: none;
  width: 260px;
  height: 90px;
  background-image: url('/images/img/slot1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}
.slots:hover,
.slots:active,
.slots.active {
  background-image: url('/images/img/slot2.png');
}
.live {
  background: transparent;
  border: none;
  width: 250px;
  height: 90px;
  background-image: url('/images/img/live1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}
.live:hover,
.live:active,
.live.active {
  background-image: url('/images/img/live2.png');
}
.sports {
  background: transparent;
  border: none;
  width: 267px;
  height: 90px;
  background-image: url('/images/img/sports1.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  cursor: pointer;
}
.sports:hover,
.sports:active,
.sports.active {
  background-image: url('/images/img/sports2.png');
}
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 135px;
  z-index: 9;
  background-color: #a0081b;
  background-image: url('/images/img/footer.jpg');
  background-size: 100% 135px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.bgcreditos {
  width: 528px;
  height: 100px;
  background-image: url('/images/img/creditos.png');
  background-size: 528px 100px;
  background-repeat: no-repeat;
  align-self: center;
}
.credit {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  /* background: rgba(255,255,255, 0.3); */
}
.amount {
  display: flex;
  align-items: center;
  justify-content: right;
  color: #ceb190;
  font-size: 2rem;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  margin-top: 4px;
  margin-right: 80px;
}

.btn-provider {
  width: 341px;
  height: 200px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.belatra {
  background-image: url('/images/img/belatra/belatra.png');
  background-position: center center;
  background-size: 341px 200px;
}
.belatra:hover {
  background-image: url('/images/img/belatra/belatra.png');
}

.agt {
  background-image: url('/images/img/buttons/agt1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.agt:hover {
  background-image: url('/images/img/buttons/agt2.png');
}
.aviatrix {
  background-image: url('/images/img/buttons/aviatrix1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.aviatrix:hover {
  background-image: url('/images/img/buttons/aviatrix2.png');
}

.belatra {
  background-image: url('/images/img/buttons/baletra1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.belatra:hover {
  background-image: url('/images/img/buttons/baletra2.png');
}

.bgaming {
  background-image: url('/images/img/buttons/bgaming1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.bgaming:hover {
  background-image: url('/images/img/buttons/bgaming2.png');
}

.tatan {
  background-image: url('/images/img/buttons/tatan1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.tatan:hover {
  background-image: url('/images/img/buttons/tatan2.png');
}
.ezugi {
  background-image: url('/images/img/buttons/ezugi1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.ezugi:hover {
  background-image: url('/images/img/buttons/ezugi2.png');
}
.evolution {
  background-image: url('/images/img/buttons/evolution1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.evolution:hover {
  background-image: url('/images/img/buttons/evolution2.png');
}
.igrosoft {
  background-image: url('/images/img/buttons/igrosoft1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.igrosoft:hover {
  background-image: url('/images/img/buttons/igrosoft2.png');
}
.greentube {
  background-image: url('/images/img/buttons/greentube1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.greentube:hover {
  background-image: url('/images/img/buttons/greentube2.png');
}
.netent {
  background-image: url('/images/img/buttons/netent1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.netent:hover {
  background-image: url('/images/img/buttons/netent2.png');
}
.pragmatic {
  background-image: url('/images/img/buttons/pragmatic1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.pragmatic:hover {
  background-image: url('/images/img/buttons/pragmatic2.png');
}
.redtiger {
  background-image: url('/images/img/buttons/redtiger1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.redtiger:hover {
  background-image: url('/images/img/buttons/redtiger2.png');
}
.rubyplay {
  background-image: url('/images/img/buttons/rubyplay1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.rubyplay:hover {
  background-image: url('/images/img/buttons/rubyplay2.png');
}
.showball {
  background-image: url('/images/img/buttons/showball1.png');
  background-position: center center;
  background-size: 341px 200px;
}
.showball:hover {
  background-image: url('/images/img/buttons/showball2.png');
}


.btn-game {
  width: 250px !important;
  height: 250px !important;
  cursor: pointer;
}
.btn-game img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: center;
  background-color: #a0081b;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 0; 
}
.screen {
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #a0081b;
  position: absolute;
}
.screen img {
  width: 100%;
  height: 100%;
}
.btn-close {
  background: #a0081b;
  color: #fff;
  top: 0;
  right: 0;
  padding: 10px 20px;
  margin: 15px;
  position: absolute;
  border: 0;
  cursor: pointer;
  border: 3px solid #fff;
  z-index: 100;
}
.btn-close:hover {
  background: #e7253c;
  color: #fff;
}

.dc {
  float: right;
  z-index: 999;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 150px;
  cursor: pointer;
}

.dc img {
  width: 100%;
  height: auto;
}

.modal-lg {
  width: 70% !important;
}

/* Absolute Center Spinner */
/* .loading {
  position: fixed;
  z-index: 999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

/* Transparent Overlay */
/* .loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(160, 8, 27, 1), rgba(160, 8, 27, 1));
  background: -webkit-radial-gradient(rgba(160, 8, 27, 1), rgba(160,8,27,1));
} */

/* :not(:required) hides these rules from IE9 and below */
/* .loading:not(:required) { */
  /* hide "loading..." text */
  /* font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
} */

/* .loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,205,0, 1) 1.5em 0 0 0, rgba(255,205,0, 1) 1.1em 1.1em 0 0, rgba(255,205,0, 1) 0 1.5em 0 0, rgba(255,205,0, 1) -1.1em 1.1em 0 0, rgba(255,205,0, 1) -1.5em 0 0 0, rgba(255,205,0, 1) -1.1em -1.1em 0 0, rgba(255,205,0, 1) 0 -1.5em 0 0, rgba(255,205,0, 1) 1.1em -1.1em 0 0;
box-shadow: rgba(255,205,0, 1) 1.5em 0 0 0, rgba(255,205,0, 1) 1.1em 1.1em 0 0, rgba(255,205,0, 1) 0 1.5em 0 0, rgba(255,205,0, 1) -1.1em 1.1em 0 0, rgba(255,205,0, 1) -1.5em 0 0 0, rgba(255,205,0, 1) -1.1em -1.1em 0 0, rgba(255,205,0, 1) 0 -1.5em 0 0, rgba(255,205,0, 1) 1.1em -1.1em 0 0;
} */

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.p-3 {
  padding: 1rem !important;
}








#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1225px 425px #FFF , 115px 1279px #FFF , 896px 803px #FFF , 1548px 90px #FFF , 1780px 1435px #FFF , 1214px 1576px #FFF , 40px 1821px #FFF , 472px 685px #FFF , 1582px 1154px #FFF , 248px 1421px #FFF , 1737px 699px #FFF , 118px 1923px #FFF , 504px 1942px #FFF , 106px 1139px #FFF , 713px 1214px #FFF , 1037px 909px #FFF , 927px 1767px #FFF , 982px 361px #FFF , 1990px 1224px #FFF , 611px 1483px #FFF , 840px 98px #FFF , 834px 817px #FFF , 1753px 29px #FFF , 54px 1934px #FFF , 162px 1029px #FFF , 1941px 1954px #FFF , 1515px 1965px #FFF , 80px 276px #FFF , 784px 1410px #FFF , 405px 79px #FFF , 224px 1044px #FFF , 1410px 1380px #FFF , 223px 183px #FFF , 1112px 398px #FFF , 1408px 58px #FFF , 1142px 1046px #FFF , 1068px 121px #FFF , 1794px 157px #FFF , 302px 604px #FFF , 604px 648px #FFF , 122px 729px #FFF , 785px 1936px #FFF , 860px 1707px #FFF , 930px 341px #FFF , 49px 877px #FFF , 117px 1348px #FFF , 423px 1803px #FFF , 1939px 1744px #FFF , 636px 117px #FFF , 1678px 803px #FFF , 1596px 1604px #FFF , 338px 1204px #FFF , 218px 1541px #FFF , 1787px 699px #FFF , 1594px 559px #FFF , 1110px 1567px #FFF , 1597px 1616px #FFF , 403px 105px #FFF , 1912px 186px #FFF , 1766px 1872px #FFF , 304px 598px #FFF , 1681px 1773px #FFF , 788px 1885px #FFF , 1091px 217px #FFF , 663px 1101px #FFF , 1174px 1496px #FFF , 1086px 5px #FFF , 1070px 282px #FFF , 242px 1753px #FFF , 297px 1360px #FFF , 848px 798px #FFF , 252px 1244px #FFF , 202px 1161px #FFF , 1801px 1737px #FFF , 1101px 251px #FFF , 960px 789px #FFF , 1522px 525px #FFF , 1644px 994px #FFF , 582px 1171px #FFF , 1373px 869px #FFF , 372px 450px #FFF , 1179px 1574px #FFF , 1916px 839px #FFF , 629px 1846px #FFF , 896px 212px #FFF , 347px 967px #FFF , 164px 1588px #FFF , 1371px 1703px #FFF , 447px 237px #FFF , 655px 558px #FFF , 1358px 1909px #FFF , 1133px 1299px #FFF , 3px 1740px #FFF , 1472px 900px #FFF , 1489px 1445px #FFF , 547px 387px #FFF , 587px 1063px #FFF , 1381px 1585px #FFF , 1625px 825px #FFF , 552px 374px #FFF , 1684px 674px #FFF , 742px 1928px #FFF , 559px 921px #FFF , 1322px 299px #FFF , 853px 1940px #FFF , 409px 1972px #FFF , 1251px 595px #FFF , 1627px 732px #FFF , 1437px 1069px #FFF , 1692px 461px #FFF , 1963px 1831px #FFF , 1844px 265px #FFF , 613px 1070px #FFF , 769px 477px #FFF , 226px 239px #FFF , 1725px 1111px #FFF , 829px 370px #FFF , 505px 1457px #FFF , 1022px 1065px #FFF , 244px 1727px #FFF , 1168px 1332px #FFF , 206px 482px #FFF , 1756px 1956px #FFF , 1383px 697px #FFF , 1392px 1682px #FFF , 1022px 1220px #FFF , 1011px 1473px #FFF , 1913px 1801px #FFF , 1671px 541px #FFF , 152px 1875px #FFF , 166px 1527px #FFF , 1496px 1308px #FFF , 563px 67px #FFF , 1598px 383px #FFF , 1556px 1193px #FFF , 1965px 992px #FFF , 135px 1765px #FFF , 1527px 764px #FFF , 1427px 126px #FFF , 1400px 155px #FFF , 784px 1662px #FFF , 1320px 1307px #FFF , 796px 83px #FFF , 41px 1706px #FFF , 863px 1014px #FFF , 659px 1299px #FFF , 1552px 1206px #FFF , 539px 903px #FFF , 1316px 299px #FFF , 535px 1878px #FFF , 1255px 1091px #FFF , 183px 995px #FFF , 1764px 629px #FFF , 1665px 312px #FFF , 813px 91px #FFF , 1847px 1288px #FFF , 1439px 193px #FFF , 47px 221px #FFF , 177px 154px #FFF , 979px 1774px #FFF , 210px 1340px #FFF , 1773px 327px #FFF , 1446px 1706px #FFF , 1235px 155px #FFF , 1730px 174px #FFF , 1208px 1250px #FFF , 1111px 1291px #FFF , 1768px 1077px #FFF , 936px 1326px #FFF , 693px 254px #FFF , 1537px 1479px #FFF , 765px 389px #FFF , 449px 913px #FFF , 673px 1967px #FFF , 869px 1626px #FFF , 898px 1699px #FFF , 361px 762px #FFF , 895px 281px #FFF , 1037px 1892px #FFF , 1469px 1201px #FFF , 361px 620px #FFF , 196px 1847px #FFF , 496px 1730px #FFF , 1745px 510px #FFF , 93px 862px #FFF , 587px 1032px #FFF , 916px 750px #FFF , 719px 1504px #FFF , 1275px 1891px #FFF , 1602px 1555px #FFF , 126px 1829px #FFF , 340px 1091px #FFF , 1451px 515px #FFF , 31px 649px #FFF , 1631px 1387px #FFF , 136px 1953px #FFF , 678px 898px #FFF , 190px 1444px #FFF , 754px 896px #FFF , 1236px 1547px #FFF , 587px 293px #FFF , 696px 1394px #FFF , 24px 421px #FFF , 475px 227px #FFF , 1950px 1044px #FFF , 1754px 82px #FFF , 1261px 932px #FFF , 79px 1935px #FFF , 292px 1110px #FFF , 1903px 106px #FFF , 1063px 1903px #FFF , 1700px 669px #FFF , 1111px 1424px #FFF , 1629px 51px #FFF , 1716px 1560px #FFF , 1243px 398px #FFF , 344px 174px #FFF , 266px 1832px #FFF , 1664px 666px #FFF , 1287px 1876px #FFF , 450px 1686px #FFF , 1392px 1128px #FFF , 1754px 862px #FFF , 1368px 684px #FFF , 78px 1212px #FFF , 456px 1994px #FFF , 731px 1681px #FFF , 1446px 1538px #FFF , 745px 1944px #FFF , 1700px 68px #FFF , 1048px 992px #FFF , 1278px 162px #FFF , 1522px 986px #FFF , 1938px 219px #FFF , 1471px 1588px #FFF , 1497px 1207px #FFF , 770px 695px #FFF , 583px 1568px #FFF , 309px 1905px #FFF , 1334px 1566px #FFF , 273px 158px #FFF , 880px 769px #FFF , 261px 1090px #FFF , 1284px 242px #FFF , 532px 1416px #FFF , 379px 333px #FFF , 334px 859px #FFF , 1210px 1166px #FFF , 645px 853px #FFF , 604px 615px #FFF , 482px 866px #FFF , 1995px 1302px #FFF , 703px 748px #FFF , 1020px 1259px #FFF , 977px 648px #FFF , 1875px 334px #FFF , 199px 1531px #FFF , 1228px 1735px #FFF , 1096px 185px #FFF , 395px 336px #FFF , 1250px 445px #FFF , 1556px 845px #FFF , 164px 1769px #FFF , 1322px 1611px #FFF , 1279px 1869px #FFF , 1388px 475px #FFF , 793px 138px #FFF , 310px 1649px #FFF , 1259px 1841px #FFF , 1213px 386px #FFF , 261px 446px #FFF , 1512px 985px #FFF , 1155px 659px #FFF , 1337px 1712px #FFF , 1864px 157px #FFF , 355px 1827px #FFF , 29px 366px #FFF , 1446px 1391px #FFF , 619px 1156px #FFF , 767px 1434px #FFF , 65px 1847px #FFF , 259px 109px #FFF , 1375px 683px #FFF , 1083px 937px #FFF , 1799px 699px #FFF , 1747px 232px #FFF , 1048px 388px #FFF , 401px 1795px #FFF , 1693px 421px #FFF , 109px 1823px #FFF , 140px 1052px #FFF , 995px 1959px #FFF , 1756px 957px #FFF , 1768px 593px #FFF , 1160px 1942px #FFF , 917px 274px #FFF , 878px 1844px #FFF , 177px 1952px #FFF , 193px 1225px #FFF , 1290px 1212px #FFF , 1587px 711px #FFF , 1012px 1053px #FFF , 1877px 1248px #FFF , 1620px 444px #FFF , 795px 143px #FFF , 1301px 1745px #FFF , 462px 461px #FFF , 1508px 190px #FFF , 984px 1155px #FFF , 1311px 1564px #FFF , 1155px 1344px #FFF , 1163px 946px #FFF , 1821px 303px #FFF , 1780px 1190px #FFF , 1220px 1386px #FFF , 1348px 228px #FFF , 581px 182px #FFF , 295px 308px #FFF , 1094px 237px #FFF , 918px 336px #FFF , 1304px 925px #FFF , 817px 1550px #FFF , 1808px 1348px #FFF , 1591px 121px #FFF , 1347px 1491px #FFF , 148px 544px #FFF , 1808px 607px #FFF , 1814px 325px #FFF , 255px 1192px #FFF , 1501px 92px #FFF , 1986px 379px #FFF , 249px 1738px #FFF , 1651px 1229px #FFF , 518px 1875px #FFF , 95px 1516px #FFF , 259px 272px #FFF , 332px 1252px #FFF , 848px 902px #FFF , 1287px 1644px #FFF , 1934px 1420px #FFF , 1928px 1245px #FFF , 1646px 1930px #FFF , 1047px 1057px #FFF , 416px 1232px #FFF , 769px 520px #FFF , 873px 951px #FFF , 623px 1196px #FFF , 1177px 527px #FFF , 1609px 1542px #FFF , 1122px 257px #FFF , 1739px 248px #FFF , 1556px 280px #FFF , 463px 1559px #FFF , 1653px 1445px #FFF , 1560px 1961px #FFF , 933px 1338px #FFF , 1683px 1029px #FFF , 1977px 1926px #FFF , 1033px 279px #FFF , 258px 1285px #FFF , 1920px 76px #FFF , 1236px 1223px #FFF , 1057px 1157px #FFF , 1124px 1317px #FFF , 1696px 554px #FFF , 1514px 559px #FFF , 1733px 1873px #FFF , 729px 1842px #FFF , 738px 413px #FFF , 367px 853px #FFF , 931px 692px #FFF , 701px 558px #FFF , 1433px 197px #FFF , 127px 1435px #FFF , 1053px 1572px #FFF , 988px 1392px #FFF , 763px 1989px #FFF , 1076px 258px #FFF , 1924px 654px #FFF , 945px 412px #FFF , 1668px 1176px #FFF , 529px 960px #FFF , 1104px 1900px #FFF , 1556px 224px #FFF , 1697px 1287px #FFF , 1713px 103px #FFF , 1982px 804px #FFF , 593px 810px #FFF , 901px 1529px #FFF , 1517px 872px #FFF , 83px 1210px #FFF , 1613px 531px #FFF , 1930px 1905px #FFF , 1532px 902px #FFF , 512px 565px #FFF , 1190px 1665px #FFF , 531px 829px #FFF , 836px 1546px #FFF , 699px 119px #FFF , 36px 503px #FFF , 153px 640px #FFF , 213px 775px #FFF , 1477px 471px #FFF , 430px 52px #FFF , 1756px 1567px #FFF , 1656px 1855px #FFF , 696px 780px #FFF , 138px 560px #FFF , 255px 1302px #FFF , 1102px 967px #FFF , 1285px 450px #FFF , 1050px 222px #FFF , 1951px 1218px #FFF , 817px 1277px #FFF , 653px 469px #FFF , 1919px 1342px #FFF , 168px 975px #FFF , 514px 767px #FFF , 1684px 1666px #FFF , 580px 1360px #FFF , 1402px 817px #FFF , 1826px 1444px #FFF , 1834px 46px #FFF , 1763px 1857px #FFF , 232px 1548px #FFF , 222px 1180px #FFF , 1828px 372px #FFF , 1589px 685px #FFF , 1766px 1501px #FFF , 1857px 302px #FFF , 243px 1131px #FFF , 536px 884px #FFF , 1133px 1708px #FFF , 1644px 1829px #FFF , 637px 91px #FFF , 417px 1826px #FFF , 701px 625px #FFF , 843px 1457px #FFF , 154px 1414px #FFF , 500px 252px #FFF , 643px 236px #FFF , 1351px 669px #FFF , 797px 777px #FFF , 1227px 1673px #FFF , 164px 450px #FFF , 606px 934px #FFF , 415px 1981px #FFF , 140px 1396px #FFF , 1821px 1689px #FFF , 299px 697px #FFF , 745px 1583px #FFF , 1157px 345px #FFF , 1178px 180px #FFF , 438px 985px #FFF , 851px 1789px #FFF , 857px 1075px #FFF , 550px 226px #FFF , 1231px 590px #FFF , 1875px 1086px #FFF , 1118px 190px #FFF , 1131px 1620px #FFF , 1437px 822px #FFF , 1216px 961px #FFF , 145px 1889px #FFF , 101px 1382px #FFF , 1805px 272px #FFF , 1649px 953px #FFF , 1227px 1195px #FFF , 701px 1235px #FFF , 813px 1517px #FFF , 1859px 1880px #FFF , 92px 332px #FFF , 125px 1849px #FFF , 1073px 1886px #FFF , 1247px 1467px #FFF , 1180px 90px #FFF , 381px 1434px #FFF , 860px 1933px #FFF , 1240px 814px #FFF , 67px 1720px #FFF , 1278px 491px #FFF , 861px 882px #FFF , 903px 1496px #FFF , 1364px 397px #FFF , 1241px 1001px #FFF , 391px 1260px #FFF , 1941px 1922px #FFF , 1633px 1318px #FFF , 655px 502px #FFF , 617px 1015px #FFF , 1268px 901px #FFF , 258px 258px #FFF , 1213px 871px #FFF , 1091px 1572px #FFF , 450px 743px #FFF , 278px 1741px #FFF , 890px 256px #FFF , 1653px 1737px #FFF , 514px 1909px #FFF , 1122px 1892px #FFF , 1850px 356px #FFF , 327px 961px #FFF , 1431px 91px #FFF , 991px 470px #FFF , 1219px 159px #FFF , 1404px 257px #FFF , 618px 939px #FFF , 1756px 1484px #FFF , 730px 783px #FFF , 1175px 1931px #FFF , 421px 812px #FFF , 1072px 1197px #FFF , 1811px 1242px #FFF , 1823px 881px #FFF , 1144px 903px #FFF , 1726px 1502px #FFF , 1940px 1714px #FFF , 987px 415px #FFF , 607px 481px #FFF , 1132px 804px #FFF , 1443px 66px #FFF , 1811px 263px #FFF , 235px 505px #FFF , 1787px 336px #FFF , 1820px 245px #FFF , 1551px 452px #FFF , 336px 748px #FFF , 1360px 966px #FFF , 574px 998px #FFF , 422px 434px #FFF , 1315px 1210px #FFF , 1240px 1986px #FFF , 496px 103px #FFF , 1560px 729px #FFF , 92px 1465px #FFF , 1787px 1326px #FFF , 620px 1268px #FFF , 1812px 1756px #FFF , 889px 313px #FFF , 1815px 651px #FFF , 1748px 482px #FFF , 1804px 1356px #FFF , 538px 1334px #FFF , 1090px 205px #FFF , 1904px 1798px #FFF , 846px 28px #FFF , 630px 1914px #FFF , 1621px 1980px #FFF , 1276px 786px #FFF , 763px 1092px #FFF , 1737px 392px #FFF , 1865px 559px #FFF , 1329px 1529px #FFF , 301px 187px #FFF , 887px 1915px #FFF , 902px 602px #FFF , 1140px 1722px #FFF , 1202px 242px #FFF , 209px 1639px #FFF , 611px 1950px #FFF , 279px 1127px #FFF , 1660px 945px #FFF , 588px 1233px #FFF , 1232px 1961px #FFF , 594px 1243px #FFF , 1544px 2px #FFF , 1799px 1733px #FFF , 904px 1775px #FFF , 888px 586px #FFF , 1254px 207px #FFF , 1004px 366px #FFF , 253px 212px #FFF , 1010px 925px #FFF , 1714px 110px #FFF , 928px 1570px #FFF , 1961px 1211px #FFF , 1356px 7px #FFF , 1961px 691px #FFF , 895px 73px #FFF , 152px 1914px #FFF , 930px 737px #FFF , 275px 1152px #FFF , 1589px 1090px #FFF , 1642px 1126px #FFF , 512px 1817px #FFF , 1248px 1903px #FFF , 1176px 901px #FFF , 1297px 144px #FFF , 1744px 213px #FFF , 1217px 638px #FFF , 1869px 1151px #FFF , 1881px 1379px #FFF , 300px 1166px #FFF , 755px 604px #FFF , 419px 1803px #FFF , 440px 1107px #FFF , 490px 1121px #FFF , 312px 558px #FFF , 907px 727px #FFF , 237px 1752px #FFF , 268px 756px #FFF , 277px 491px #FFF , 195px 1996px #FFF , 1713px 971px #FFF , 665px 914px #FFF , 1149px 590px #FFF , 23px 87px #FFF , 159px 1767px #FFF , 824px 1918px #FFF , 707px 854px #FFF , 1435px 37px #FFF , 1945px 949px #FFF , 1185px 111px #FFF , 19px 1334px #FFF , 594px 1407px #FFF , 652px 1009px #FFF , 42px 308px #FFF , 1775px 1333px #FFF , 1660px 1938px #FFF , 13px 718px #FFF , 227px 214px #FFF , 1131px 1407px #FFF , 595px 53px #FFF , 614px 760px #FFF , 1619px 1658px #FFF , 1178px 1987px #FFF , 289px 661px #FFF , 865px 856px #FFF , 312px 1648px #FFF , 85px 1170px #FFF , 1206px 1212px #FFF , 1851px 1051px #FFF , 243px 1659px #FFF , 1559px 1135px #FFF , 1392px 1959px #FFF , 756px 1559px #FFF , 400px 33px #FFF , 210px 1863px #FFF , 1072px 1920px #FFF , 1399px 1089px #FFF , 462px 564px #FFF , 889px 50px #FFF , 324px 1160px #FFF , 1624px 1589px #FFF , 1157px 1310px #FFF , 1418px 931px #FFF , 98px 463px #FFF , 1006px 1165px #FFF , 1285px 303px #FFF , 1343px 133px #FFF , 1898px 872px #FFF , 1278px 1026px #FFF , 439px 121px #FFF , 123px 1137px #FFF , 1698px 918px #FFF , 1689px 1537px #FFF , 1004px 1877px #FFF , 1587px 469px #FFF , 1806px 1596px #FFF , 1771px 428px #FFF , 1556px 390px #FFF , 1676px 909px #FFF , 1071px 1784px #FFF , 1406px 715px #FFF , 847px 1447px #FFF , 1929px 96px #FFF , 216px 1455px #FFF , 1960px 1852px #FFF , 1992px 875px #FFF , 872px 1004px #FFF , 932px 923px #FFF , 1931px 1732px #FFF , 1390px 90px #FFF , 1944px 848px #FFF , 780px 1991px #FFF , 1645px 83px #FFF , 1258px 1415px #FFF , 57px 1561px #FFF , 1722px 1601px #FFF , 540px 1668px #FFF , 292px 1098px #FFF , 1315px 67px #FFF , 1750px 1634px #FFF , 337px 1518px #FFF , 162px 257px #FFF , 1585px 1065px #FFF , 942px 152px #FFF , 304px 1532px #FFF , 1337px 565px #FFF , 1756px 1666px #FFF , 199px 61px #FFF , 1262px 584px #FFF , 1662px 1415px #FFF , 1570px 245px #FFF , 873px 581px #FFF , 377px 191px #FFF , 287px 740px #FFF , 1781px 662px #FFF , 1328px 1919px #FFF , 352px 420px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1225px 425px #FFF , 115px 1279px #FFF , 896px 803px #FFF , 1548px 90px #FFF , 1780px 1435px #FFF , 1214px 1576px #FFF , 40px 1821px #FFF , 472px 685px #FFF , 1582px 1154px #FFF , 248px 1421px #FFF , 1737px 699px #FFF , 118px 1923px #FFF , 504px 1942px #FFF , 106px 1139px #FFF , 713px 1214px #FFF , 1037px 909px #FFF , 927px 1767px #FFF , 982px 361px #FFF , 1990px 1224px #FFF , 611px 1483px #FFF , 840px 98px #FFF , 834px 817px #FFF , 1753px 29px #FFF , 54px 1934px #FFF , 162px 1029px #FFF , 1941px 1954px #FFF , 1515px 1965px #FFF , 80px 276px #FFF , 784px 1410px #FFF , 405px 79px #FFF , 224px 1044px #FFF , 1410px 1380px #FFF , 223px 183px #FFF , 1112px 398px #FFF , 1408px 58px #FFF , 1142px 1046px #FFF , 1068px 121px #FFF , 1794px 157px #FFF , 302px 604px #FFF , 604px 648px #FFF , 122px 729px #FFF , 785px 1936px #FFF , 860px 1707px #FFF , 930px 341px #FFF , 49px 877px #FFF , 117px 1348px #FFF , 423px 1803px #FFF , 1939px 1744px #FFF , 636px 117px #FFF , 1678px 803px #FFF , 1596px 1604px #FFF , 338px 1204px #FFF , 218px 1541px #FFF , 1787px 699px #FFF , 1594px 559px #FFF , 1110px 1567px #FFF , 1597px 1616px #FFF , 403px 105px #FFF , 1912px 186px #FFF , 1766px 1872px #FFF , 304px 598px #FFF , 1681px 1773px #FFF , 788px 1885px #FFF , 1091px 217px #FFF , 663px 1101px #FFF , 1174px 1496px #FFF , 1086px 5px #FFF , 1070px 282px #FFF , 242px 1753px #FFF , 297px 1360px #FFF , 848px 798px #FFF , 252px 1244px #FFF , 202px 1161px #FFF , 1801px 1737px #FFF , 1101px 251px #FFF , 960px 789px #FFF , 1522px 525px #FFF , 1644px 994px #FFF , 582px 1171px #FFF , 1373px 869px #FFF , 372px 450px #FFF , 1179px 1574px #FFF , 1916px 839px #FFF , 629px 1846px #FFF , 896px 212px #FFF , 347px 967px #FFF , 164px 1588px #FFF , 1371px 1703px #FFF , 447px 237px #FFF , 655px 558px #FFF , 1358px 1909px #FFF , 1133px 1299px #FFF , 3px 1740px #FFF , 1472px 900px #FFF , 1489px 1445px #FFF , 547px 387px #FFF , 587px 1063px #FFF , 1381px 1585px #FFF , 1625px 825px #FFF , 552px 374px #FFF , 1684px 674px #FFF , 742px 1928px #FFF , 559px 921px #FFF , 1322px 299px #FFF , 853px 1940px #FFF , 409px 1972px #FFF , 1251px 595px #FFF , 1627px 732px #FFF , 1437px 1069px #FFF , 1692px 461px #FFF , 1963px 1831px #FFF , 1844px 265px #FFF , 613px 1070px #FFF , 769px 477px #FFF , 226px 239px #FFF , 1725px 1111px #FFF , 829px 370px #FFF , 505px 1457px #FFF , 1022px 1065px #FFF , 244px 1727px #FFF , 1168px 1332px #FFF , 206px 482px #FFF , 1756px 1956px #FFF , 1383px 697px #FFF , 1392px 1682px #FFF , 1022px 1220px #FFF , 1011px 1473px #FFF , 1913px 1801px #FFF , 1671px 541px #FFF , 152px 1875px #FFF , 166px 1527px #FFF , 1496px 1308px #FFF , 563px 67px #FFF , 1598px 383px #FFF , 1556px 1193px #FFF , 1965px 992px #FFF , 135px 1765px #FFF , 1527px 764px #FFF , 1427px 126px #FFF , 1400px 155px #FFF , 784px 1662px #FFF , 1320px 1307px #FFF , 796px 83px #FFF , 41px 1706px #FFF , 863px 1014px #FFF , 659px 1299px #FFF , 1552px 1206px #FFF , 539px 903px #FFF , 1316px 299px #FFF , 535px 1878px #FFF , 1255px 1091px #FFF , 183px 995px #FFF , 1764px 629px #FFF , 1665px 312px #FFF , 813px 91px #FFF , 1847px 1288px #FFF , 1439px 193px #FFF , 47px 221px #FFF , 177px 154px #FFF , 979px 1774px #FFF , 210px 1340px #FFF , 1773px 327px #FFF , 1446px 1706px #FFF , 1235px 155px #FFF , 1730px 174px #FFF , 1208px 1250px #FFF , 1111px 1291px #FFF , 1768px 1077px #FFF , 936px 1326px #FFF , 693px 254px #FFF , 1537px 1479px #FFF , 765px 389px #FFF , 449px 913px #FFF , 673px 1967px #FFF , 869px 1626px #FFF , 898px 1699px #FFF , 361px 762px #FFF , 895px 281px #FFF , 1037px 1892px #FFF , 1469px 1201px #FFF , 361px 620px #FFF , 196px 1847px #FFF , 496px 1730px #FFF , 1745px 510px #FFF , 93px 862px #FFF , 587px 1032px #FFF , 916px 750px #FFF , 719px 1504px #FFF , 1275px 1891px #FFF , 1602px 1555px #FFF , 126px 1829px #FFF , 340px 1091px #FFF , 1451px 515px #FFF , 31px 649px #FFF , 1631px 1387px #FFF , 136px 1953px #FFF , 678px 898px #FFF , 190px 1444px #FFF , 754px 896px #FFF , 1236px 1547px #FFF , 587px 293px #FFF , 696px 1394px #FFF , 24px 421px #FFF , 475px 227px #FFF , 1950px 1044px #FFF , 1754px 82px #FFF , 1261px 932px #FFF , 79px 1935px #FFF , 292px 1110px #FFF , 1903px 106px #FFF , 1063px 1903px #FFF , 1700px 669px #FFF , 1111px 1424px #FFF , 1629px 51px #FFF , 1716px 1560px #FFF , 1243px 398px #FFF , 344px 174px #FFF , 266px 1832px #FFF , 1664px 666px #FFF , 1287px 1876px #FFF , 450px 1686px #FFF , 1392px 1128px #FFF , 1754px 862px #FFF , 1368px 684px #FFF , 78px 1212px #FFF , 456px 1994px #FFF , 731px 1681px #FFF , 1446px 1538px #FFF , 745px 1944px #FFF , 1700px 68px #FFF , 1048px 992px #FFF , 1278px 162px #FFF , 1522px 986px #FFF , 1938px 219px #FFF , 1471px 1588px #FFF , 1497px 1207px #FFF , 770px 695px #FFF , 583px 1568px #FFF , 309px 1905px #FFF , 1334px 1566px #FFF , 273px 158px #FFF , 880px 769px #FFF , 261px 1090px #FFF , 1284px 242px #FFF , 532px 1416px #FFF , 379px 333px #FFF , 334px 859px #FFF , 1210px 1166px #FFF , 645px 853px #FFF , 604px 615px #FFF , 482px 866px #FFF , 1995px 1302px #FFF , 703px 748px #FFF , 1020px 1259px #FFF , 977px 648px #FFF , 1875px 334px #FFF , 199px 1531px #FFF , 1228px 1735px #FFF , 1096px 185px #FFF , 395px 336px #FFF , 1250px 445px #FFF , 1556px 845px #FFF , 164px 1769px #FFF , 1322px 1611px #FFF , 1279px 1869px #FFF , 1388px 475px #FFF , 793px 138px #FFF , 310px 1649px #FFF , 1259px 1841px #FFF , 1213px 386px #FFF , 261px 446px #FFF , 1512px 985px #FFF , 1155px 659px #FFF , 1337px 1712px #FFF , 1864px 157px #FFF , 355px 1827px #FFF , 29px 366px #FFF , 1446px 1391px #FFF , 619px 1156px #FFF , 767px 1434px #FFF , 65px 1847px #FFF , 259px 109px #FFF , 1375px 683px #FFF , 1083px 937px #FFF , 1799px 699px #FFF , 1747px 232px #FFF , 1048px 388px #FFF , 401px 1795px #FFF , 1693px 421px #FFF , 109px 1823px #FFF , 140px 1052px #FFF , 995px 1959px #FFF , 1756px 957px #FFF , 1768px 593px #FFF , 1160px 1942px #FFF , 917px 274px #FFF , 878px 1844px #FFF , 177px 1952px #FFF , 193px 1225px #FFF , 1290px 1212px #FFF , 1587px 711px #FFF , 1012px 1053px #FFF , 1877px 1248px #FFF , 1620px 444px #FFF , 795px 143px #FFF , 1301px 1745px #FFF , 462px 461px #FFF , 1508px 190px #FFF , 984px 1155px #FFF , 1311px 1564px #FFF , 1155px 1344px #FFF , 1163px 946px #FFF , 1821px 303px #FFF , 1780px 1190px #FFF , 1220px 1386px #FFF , 1348px 228px #FFF , 581px 182px #FFF , 295px 308px #FFF , 1094px 237px #FFF , 918px 336px #FFF , 1304px 925px #FFF , 817px 1550px #FFF , 1808px 1348px #FFF , 1591px 121px #FFF , 1347px 1491px #FFF , 148px 544px #FFF , 1808px 607px #FFF , 1814px 325px #FFF , 255px 1192px #FFF , 1501px 92px #FFF , 1986px 379px #FFF , 249px 1738px #FFF , 1651px 1229px #FFF , 518px 1875px #FFF , 95px 1516px #FFF , 259px 272px #FFF , 332px 1252px #FFF , 848px 902px #FFF , 1287px 1644px #FFF , 1934px 1420px #FFF , 1928px 1245px #FFF , 1646px 1930px #FFF , 1047px 1057px #FFF , 416px 1232px #FFF , 769px 520px #FFF , 873px 951px #FFF , 623px 1196px #FFF , 1177px 527px #FFF , 1609px 1542px #FFF , 1122px 257px #FFF , 1739px 248px #FFF , 1556px 280px #FFF , 463px 1559px #FFF , 1653px 1445px #FFF , 1560px 1961px #FFF , 933px 1338px #FFF , 1683px 1029px #FFF , 1977px 1926px #FFF , 1033px 279px #FFF , 258px 1285px #FFF , 1920px 76px #FFF , 1236px 1223px #FFF , 1057px 1157px #FFF , 1124px 1317px #FFF , 1696px 554px #FFF , 1514px 559px #FFF , 1733px 1873px #FFF , 729px 1842px #FFF , 738px 413px #FFF , 367px 853px #FFF , 931px 692px #FFF , 701px 558px #FFF , 1433px 197px #FFF , 127px 1435px #FFF , 1053px 1572px #FFF , 988px 1392px #FFF , 763px 1989px #FFF , 1076px 258px #FFF , 1924px 654px #FFF , 945px 412px #FFF , 1668px 1176px #FFF , 529px 960px #FFF , 1104px 1900px #FFF , 1556px 224px #FFF , 1697px 1287px #FFF , 1713px 103px #FFF , 1982px 804px #FFF , 593px 810px #FFF , 901px 1529px #FFF , 1517px 872px #FFF , 83px 1210px #FFF , 1613px 531px #FFF , 1930px 1905px #FFF , 1532px 902px #FFF , 512px 565px #FFF , 1190px 1665px #FFF , 531px 829px #FFF , 836px 1546px #FFF , 699px 119px #FFF , 36px 503px #FFF , 153px 640px #FFF , 213px 775px #FFF , 1477px 471px #FFF , 430px 52px #FFF , 1756px 1567px #FFF , 1656px 1855px #FFF , 696px 780px #FFF , 138px 560px #FFF , 255px 1302px #FFF , 1102px 967px #FFF , 1285px 450px #FFF , 1050px 222px #FFF , 1951px 1218px #FFF , 817px 1277px #FFF , 653px 469px #FFF , 1919px 1342px #FFF , 168px 975px #FFF , 514px 767px #FFF , 1684px 1666px #FFF , 580px 1360px #FFF , 1402px 817px #FFF , 1826px 1444px #FFF , 1834px 46px #FFF , 1763px 1857px #FFF , 232px 1548px #FFF , 222px 1180px #FFF , 1828px 372px #FFF , 1589px 685px #FFF , 1766px 1501px #FFF , 1857px 302px #FFF , 243px 1131px #FFF , 536px 884px #FFF , 1133px 1708px #FFF , 1644px 1829px #FFF , 637px 91px #FFF , 417px 1826px #FFF , 701px 625px #FFF , 843px 1457px #FFF , 154px 1414px #FFF , 500px 252px #FFF , 643px 236px #FFF , 1351px 669px #FFF , 797px 777px #FFF , 1227px 1673px #FFF , 164px 450px #FFF , 606px 934px #FFF , 415px 1981px #FFF , 140px 1396px #FFF , 1821px 1689px #FFF , 299px 697px #FFF , 745px 1583px #FFF , 1157px 345px #FFF , 1178px 180px #FFF , 438px 985px #FFF , 851px 1789px #FFF , 857px 1075px #FFF , 550px 226px #FFF , 1231px 590px #FFF , 1875px 1086px #FFF , 1118px 190px #FFF , 1131px 1620px #FFF , 1437px 822px #FFF , 1216px 961px #FFF , 145px 1889px #FFF , 101px 1382px #FFF , 1805px 272px #FFF , 1649px 953px #FFF , 1227px 1195px #FFF , 701px 1235px #FFF , 813px 1517px #FFF , 1859px 1880px #FFF , 92px 332px #FFF , 125px 1849px #FFF , 1073px 1886px #FFF , 1247px 1467px #FFF , 1180px 90px #FFF , 381px 1434px #FFF , 860px 1933px #FFF , 1240px 814px #FFF , 67px 1720px #FFF , 1278px 491px #FFF , 861px 882px #FFF , 903px 1496px #FFF , 1364px 397px #FFF , 1241px 1001px #FFF , 391px 1260px #FFF , 1941px 1922px #FFF , 1633px 1318px #FFF , 655px 502px #FFF , 617px 1015px #FFF , 1268px 901px #FFF , 258px 258px #FFF , 1213px 871px #FFF , 1091px 1572px #FFF , 450px 743px #FFF , 278px 1741px #FFF , 890px 256px #FFF , 1653px 1737px #FFF , 514px 1909px #FFF , 1122px 1892px #FFF , 1850px 356px #FFF , 327px 961px #FFF , 1431px 91px #FFF , 991px 470px #FFF , 1219px 159px #FFF , 1404px 257px #FFF , 618px 939px #FFF , 1756px 1484px #FFF , 730px 783px #FFF , 1175px 1931px #FFF , 421px 812px #FFF , 1072px 1197px #FFF , 1811px 1242px #FFF , 1823px 881px #FFF , 1144px 903px #FFF , 1726px 1502px #FFF , 1940px 1714px #FFF , 987px 415px #FFF , 607px 481px #FFF , 1132px 804px #FFF , 1443px 66px #FFF , 1811px 263px #FFF , 235px 505px #FFF , 1787px 336px #FFF , 1820px 245px #FFF , 1551px 452px #FFF , 336px 748px #FFF , 1360px 966px #FFF , 574px 998px #FFF , 422px 434px #FFF , 1315px 1210px #FFF , 1240px 1986px #FFF , 496px 103px #FFF , 1560px 729px #FFF , 92px 1465px #FFF , 1787px 1326px #FFF , 620px 1268px #FFF , 1812px 1756px #FFF , 889px 313px #FFF , 1815px 651px #FFF , 1748px 482px #FFF , 1804px 1356px #FFF , 538px 1334px #FFF , 1090px 205px #FFF , 1904px 1798px #FFF , 846px 28px #FFF , 630px 1914px #FFF , 1621px 1980px #FFF , 1276px 786px #FFF , 763px 1092px #FFF , 1737px 392px #FFF , 1865px 559px #FFF , 1329px 1529px #FFF , 301px 187px #FFF , 887px 1915px #FFF , 902px 602px #FFF , 1140px 1722px #FFF , 1202px 242px #FFF , 209px 1639px #FFF , 611px 1950px #FFF , 279px 1127px #FFF , 1660px 945px #FFF , 588px 1233px #FFF , 1232px 1961px #FFF , 594px 1243px #FFF , 1544px 2px #FFF , 1799px 1733px #FFF , 904px 1775px #FFF , 888px 586px #FFF , 1254px 207px #FFF , 1004px 366px #FFF , 253px 212px #FFF , 1010px 925px #FFF , 1714px 110px #FFF , 928px 1570px #FFF , 1961px 1211px #FFF , 1356px 7px #FFF , 1961px 691px #FFF , 895px 73px #FFF , 152px 1914px #FFF , 930px 737px #FFF , 275px 1152px #FFF , 1589px 1090px #FFF , 1642px 1126px #FFF , 512px 1817px #FFF , 1248px 1903px #FFF , 1176px 901px #FFF , 1297px 144px #FFF , 1744px 213px #FFF , 1217px 638px #FFF , 1869px 1151px #FFF , 1881px 1379px #FFF , 300px 1166px #FFF , 755px 604px #FFF , 419px 1803px #FFF , 440px 1107px #FFF , 490px 1121px #FFF , 312px 558px #FFF , 907px 727px #FFF , 237px 1752px #FFF , 268px 756px #FFF , 277px 491px #FFF , 195px 1996px #FFF , 1713px 971px #FFF , 665px 914px #FFF , 1149px 590px #FFF , 23px 87px #FFF , 159px 1767px #FFF , 824px 1918px #FFF , 707px 854px #FFF , 1435px 37px #FFF , 1945px 949px #FFF , 1185px 111px #FFF , 19px 1334px #FFF , 594px 1407px #FFF , 652px 1009px #FFF , 42px 308px #FFF , 1775px 1333px #FFF , 1660px 1938px #FFF , 13px 718px #FFF , 227px 214px #FFF , 1131px 1407px #FFF , 595px 53px #FFF , 614px 760px #FFF , 1619px 1658px #FFF , 1178px 1987px #FFF , 289px 661px #FFF , 865px 856px #FFF , 312px 1648px #FFF , 85px 1170px #FFF , 1206px 1212px #FFF , 1851px 1051px #FFF , 243px 1659px #FFF , 1559px 1135px #FFF , 1392px 1959px #FFF , 756px 1559px #FFF , 400px 33px #FFF , 210px 1863px #FFF , 1072px 1920px #FFF , 1399px 1089px #FFF , 462px 564px #FFF , 889px 50px #FFF , 324px 1160px #FFF , 1624px 1589px #FFF , 1157px 1310px #FFF , 1418px 931px #FFF , 98px 463px #FFF , 1006px 1165px #FFF , 1285px 303px #FFF , 1343px 133px #FFF , 1898px 872px #FFF , 1278px 1026px #FFF , 439px 121px #FFF , 123px 1137px #FFF , 1698px 918px #FFF , 1689px 1537px #FFF , 1004px 1877px #FFF , 1587px 469px #FFF , 1806px 1596px #FFF , 1771px 428px #FFF , 1556px 390px #FFF , 1676px 909px #FFF , 1071px 1784px #FFF , 1406px 715px #FFF , 847px 1447px #FFF , 1929px 96px #FFF , 216px 1455px #FFF , 1960px 1852px #FFF , 1992px 875px #FFF , 872px 1004px #FFF , 932px 923px #FFF , 1931px 1732px #FFF , 1390px 90px #FFF , 1944px 848px #FFF , 780px 1991px #FFF , 1645px 83px #FFF , 1258px 1415px #FFF , 57px 1561px #FFF , 1722px 1601px #FFF , 540px 1668px #FFF , 292px 1098px #FFF , 1315px 67px #FFF , 1750px 1634px #FFF , 337px 1518px #FFF , 162px 257px #FFF , 1585px 1065px #FFF , 942px 152px #FFF , 304px 1532px #FFF , 1337px 565px #FFF , 1756px 1666px #FFF , 199px 61px #FFF , 1262px 584px #FFF , 1662px 1415px #FFF , 1570px 245px #FFF , 873px 581px #FFF , 377px 191px #FFF , 287px 740px #FFF , 1781px 662px #FFF , 1328px 1919px #FFF , 352px 420px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1337px 655px #FFF , 112px 462px #FFF , 1276px 708px #FFF , 1992px 1621px #FFF , 804px 461px #FFF , 794px 1823px #FFF , 1252px 1715px #FFF , 477px 575px #FFF , 381px 217px #FFF , 979px 1626px #FFF , 958px 246px #FFF , 1478px 975px #FFF , 738px 1661px #FFF , 740px 1790px #FFF , 228px 383px #FFF , 1122px 1942px #FFF , 1823px 1830px #FFF , 1940px 1458px #FFF , 275px 806px #FFF , 630px 1555px #FFF , 383px 1008px #FFF , 1164px 1515px #FFF , 1401px 1847px #FFF , 684px 1026px #FFF , 1237px 794px #FFF , 1316px 1652px #FFF , 544px 1042px #FFF , 274px 1734px #FFF , 1993px 1874px #FFF , 666px 1003px #FFF , 1370px 985px #FFF , 1550px 817px #FFF , 1561px 598px #FFF , 1599px 351px #FFF , 189px 68px #FFF , 1694px 1624px #FFF , 701px 459px #FFF , 1062px 709px #FFF , 1228px 1777px #FFF , 1193px 904px #FFF , 1100px 498px #FFF , 1304px 1431px #FFF , 1142px 1661px #FFF , 1124px 1759px #FFF , 1610px 1551px #FFF , 604px 403px #FFF , 1594px 119px #FFF , 1536px 1843px #FFF , 982px 1411px #FFF , 1923px 1243px #FFF , 1390px 282px #FFF , 1589px 548px #FFF , 1367px 52px #FFF , 101px 872px #FFF , 165px 82px #FFF , 1279px 1757px #FFF , 1166px 419px #FFF , 402px 1664px #FFF , 627px 65px #FFF , 1307px 61px #FFF , 1649px 331px #FFF , 1161px 142px #FFF , 306px 1644px #FFF , 1985px 677px #FFF , 502px 1810px #FFF , 997px 469px #FFF , 1954px 1439px #FFF , 475px 1752px #FFF , 1795px 858px #FFF , 549px 856px #FFF , 915px 163px #FFF , 1476px 125px #FFF , 510px 1805px #FFF , 1443px 493px #FFF , 1100px 792px #FFF , 482px 1207px #FFF , 280px 839px #FFF , 1409px 1053px #FFF , 1443px 1567px #FFF , 1674px 1597px #FFF , 1395px 144px #FFF , 1288px 908px #FFF , 1894px 819px #FFF , 1248px 501px #FFF , 1985px 1942px #FFF , 1649px 1973px #FFF , 867px 634px #FFF , 1552px 1340px #FFF , 1742px 1276px #FFF , 585px 1151px #FFF , 46px 1825px #FFF , 132px 1114px #FFF , 342px 540px #FFF , 1388px 1102px #FFF , 963px 110px #FFF , 1680px 87px #FFF , 1036px 879px #FFF , 1922px 879px #FFF , 1439px 841px #FFF , 421px 905px #FFF , 1099px 187px #FFF , 187px 1923px #FFF , 1752px 1453px #FFF , 1714px 581px #FFF , 1869px 776px #FFF , 1810px 1145px #FFF , 1694px 1956px #FFF , 1180px 1541px #FFF , 1139px 59px #FFF , 789px 1109px #FFF , 150px 1838px #FFF , 546px 1925px #FFF , 796px 1484px #FFF , 1170px 185px #FFF , 544px 953px #FFF , 1874px 376px #FFF , 1119px 643px #FFF , 291px 1390px #FFF , 1647px 373px #FFF , 865px 1033px #FFF , 1470px 1149px #FFF , 1714px 854px #FFF , 1747px 15px #FFF , 1019px 178px #FFF , 1028px 1780px #FFF , 1593px 47px #FFF , 1473px 171px #FFF , 956px 1743px #FFF , 1352px 1544px #FFF , 1270px 1687px #FFF , 1743px 1400px #FFF , 1158px 834px #FFF , 1756px 1896px #FFF , 329px 373px #FFF , 1000px 424px #FFF , 474px 445px #FFF , 1786px 983px #FFF , 259px 1381px #FFF , 1446px 1935px #FFF , 1296px 418px #FFF , 1482px 1126px #FFF , 1749px 1133px #FFF , 546px 1663px #FFF , 967px 768px #FFF , 435px 943px #FFF , 1556px 1458px #FFF , 136px 1408px #FFF , 865px 1565px #FFF , 1918px 746px #FFF , 779px 1239px #FFF , 1813px 172px #FFF , 1555px 900px #FFF , 1674px 1315px #FFF , 258px 1368px #FFF , 41px 1668px #FFF , 944px 1599px #FFF , 834px 1306px #FFF , 460px 1540px #FFF , 482px 396px #FFF , 1046px 1618px #FFF , 1075px 1502px #FFF , 1487px 367px #FFF , 1124px 376px #FFF , 1781px 469px #FFF , 575px 1515px #FFF , 1267px 1913px #FFF , 698px 146px #FFF , 923px 445px #FFF , 338px 1657px #FFF , 1895px 1803px #FFF , 181px 990px #FFF , 1826px 199px #FFF , 1918px 813px #FFF , 484px 1147px #FFF , 1802px 341px #FFF , 1544px 182px #FFF , 1985px 289px #FFF , 1143px 868px #FFF , 1579px 1049px #FFF , 1247px 970px #FFF , 1577px 465px #FFF , 624px 785px #FFF , 506px 70px #FFF , 634px 1556px #FFF , 1615px 607px #FFF , 854px 1644px #FFF , 1666px 1497px #FFF , 1231px 746px #FFF , 694px 1714px #FFF , 1608px 1360px #FFF , 1387px 881px #FFF , 1769px 586px #FFF , 384px 1456px #FFF , 548px 150px #FFF , 938px 1647px #FFF , 468px 1474px #FFF , 1834px 1520px #FFF , 524px 1137px #FFF , 1085px 366px #FFF , 209px 1643px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1337px 655px #FFF , 112px 462px #FFF , 1276px 708px #FFF , 1992px 1621px #FFF , 804px 461px #FFF , 794px 1823px #FFF , 1252px 1715px #FFF , 477px 575px #FFF , 381px 217px #FFF , 979px 1626px #FFF , 958px 246px #FFF , 1478px 975px #FFF , 738px 1661px #FFF , 740px 1790px #FFF , 228px 383px #FFF , 1122px 1942px #FFF , 1823px 1830px #FFF , 1940px 1458px #FFF , 275px 806px #FFF , 630px 1555px #FFF , 383px 1008px #FFF , 1164px 1515px #FFF , 1401px 1847px #FFF , 684px 1026px #FFF , 1237px 794px #FFF , 1316px 1652px #FFF , 544px 1042px #FFF , 274px 1734px #FFF , 1993px 1874px #FFF , 666px 1003px #FFF , 1370px 985px #FFF , 1550px 817px #FFF , 1561px 598px #FFF , 1599px 351px #FFF , 189px 68px #FFF , 1694px 1624px #FFF , 701px 459px #FFF , 1062px 709px #FFF , 1228px 1777px #FFF , 1193px 904px #FFF , 1100px 498px #FFF , 1304px 1431px #FFF , 1142px 1661px #FFF , 1124px 1759px #FFF , 1610px 1551px #FFF , 604px 403px #FFF , 1594px 119px #FFF , 1536px 1843px #FFF , 982px 1411px #FFF , 1923px 1243px #FFF , 1390px 282px #FFF , 1589px 548px #FFF , 1367px 52px #FFF , 101px 872px #FFF , 165px 82px #FFF , 1279px 1757px #FFF , 1166px 419px #FFF , 402px 1664px #FFF , 627px 65px #FFF , 1307px 61px #FFF , 1649px 331px #FFF , 1161px 142px #FFF , 306px 1644px #FFF , 1985px 677px #FFF , 502px 1810px #FFF , 997px 469px #FFF , 1954px 1439px #FFF , 475px 1752px #FFF , 1795px 858px #FFF , 549px 856px #FFF , 915px 163px #FFF , 1476px 125px #FFF , 510px 1805px #FFF , 1443px 493px #FFF , 1100px 792px #FFF , 482px 1207px #FFF , 280px 839px #FFF , 1409px 1053px #FFF , 1443px 1567px #FFF , 1674px 1597px #FFF , 1395px 144px #FFF , 1288px 908px #FFF , 1894px 819px #FFF , 1248px 501px #FFF , 1985px 1942px #FFF , 1649px 1973px #FFF , 867px 634px #FFF , 1552px 1340px #FFF , 1742px 1276px #FFF , 585px 1151px #FFF , 46px 1825px #FFF , 132px 1114px #FFF , 342px 540px #FFF , 1388px 1102px #FFF , 963px 110px #FFF , 1680px 87px #FFF , 1036px 879px #FFF , 1922px 879px #FFF , 1439px 841px #FFF , 421px 905px #FFF , 1099px 187px #FFF , 187px 1923px #FFF , 1752px 1453px #FFF , 1714px 581px #FFF , 1869px 776px #FFF , 1810px 1145px #FFF , 1694px 1956px #FFF , 1180px 1541px #FFF , 1139px 59px #FFF , 789px 1109px #FFF , 150px 1838px #FFF , 546px 1925px #FFF , 796px 1484px #FFF , 1170px 185px #FFF , 544px 953px #FFF , 1874px 376px #FFF , 1119px 643px #FFF , 291px 1390px #FFF , 1647px 373px #FFF , 865px 1033px #FFF , 1470px 1149px #FFF , 1714px 854px #FFF , 1747px 15px #FFF , 1019px 178px #FFF , 1028px 1780px #FFF , 1593px 47px #FFF , 1473px 171px #FFF , 956px 1743px #FFF , 1352px 1544px #FFF , 1270px 1687px #FFF , 1743px 1400px #FFF , 1158px 834px #FFF , 1756px 1896px #FFF , 329px 373px #FFF , 1000px 424px #FFF , 474px 445px #FFF , 1786px 983px #FFF , 259px 1381px #FFF , 1446px 1935px #FFF , 1296px 418px #FFF , 1482px 1126px #FFF , 1749px 1133px #FFF , 546px 1663px #FFF , 967px 768px #FFF , 435px 943px #FFF , 1556px 1458px #FFF , 136px 1408px #FFF , 865px 1565px #FFF , 1918px 746px #FFF , 779px 1239px #FFF , 1813px 172px #FFF , 1555px 900px #FFF , 1674px 1315px #FFF , 258px 1368px #FFF , 41px 1668px #FFF , 944px 1599px #FFF , 834px 1306px #FFF , 460px 1540px #FFF , 482px 396px #FFF , 1046px 1618px #FFF , 1075px 1502px #FFF , 1487px 367px #FFF , 1124px 376px #FFF , 1781px 469px #FFF , 575px 1515px #FFF , 1267px 1913px #FFF , 698px 146px #FFF , 923px 445px #FFF , 338px 1657px #FFF , 1895px 1803px #FFF , 181px 990px #FFF , 1826px 199px #FFF , 1918px 813px #FFF , 484px 1147px #FFF , 1802px 341px #FFF , 1544px 182px #FFF , 1985px 289px #FFF , 1143px 868px #FFF , 1579px 1049px #FFF , 1247px 970px #FFF , 1577px 465px #FFF , 624px 785px #FFF , 506px 70px #FFF , 634px 1556px #FFF , 1615px 607px #FFF , 854px 1644px #FFF , 1666px 1497px #FFF , 1231px 746px #FFF , 694px 1714px #FFF , 1608px 1360px #FFF , 1387px 881px #FFF , 1769px 586px #FFF , 384px 1456px #FFF , 548px 150px #FFF , 938px 1647px #FFF , 468px 1474px #FFF , 1834px 1520px #FFF , 524px 1137px #FFF , 1085px 366px #FFF , 209px 1643px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1522px 590px #FFF , 1760px 484px #FFF , 1712px 1942px #FFF , 1722px 1557px #FFF , 55px 171px #FFF , 1659px 1935px #FFF , 1552px 474px #FFF , 1579px 1017px #FFF , 1285px 1596px #FFF , 618px 188px #FFF , 697px 1117px #FFF , 1551px 1903px #FFF , 1333px 1634px #FFF , 181px 1209px #FFF , 796px 1376px #FFF , 1509px 1409px #FFF , 1696px 1434px #FFF , 915px 1023px #FFF , 549px 398px #FFF , 897px 98px #FFF , 1506px 104px #FFF , 309px 1555px #FFF , 528px 1833px #FFF , 1751px 660px #FFF , 1954px 93px #FFF , 825px 1312px #FFF , 667px 1351px #FFF , 135px 1107px #FFF , 765px 502px #FFF , 534px 219px #FFF , 802px 61px #FFF , 659px 438px #FFF , 238px 243px #FFF , 1999px 127px #FFF , 844px 1371px #FFF , 1px 1861px #FFF , 1134px 1346px #FFF , 1317px 1610px #FFF , 1394px 1622px #FFF , 549px 1122px #FFF , 1915px 1859px #FFF , 1864px 706px #FFF , 1478px 1940px #FFF , 1528px 969px #FFF , 236px 1352px #FFF , 1864px 96px #FFF , 232px 1888px #FFF , 1115px 343px #FFF , 1423px 1731px #FFF , 1814px 136px #FFF , 774px 103px #FFF , 1527px 475px #FFF , 1491px 147px #FFF , 1136px 1857px #FFF , 1951px 970px #FFF , 886px 26px #FFF , 1526px 785px #FFF , 1447px 1435px #FFF , 173px 1293px #FFF , 1521px 918px #FFF , 540px 1804px #FFF , 1805px 1587px #FFF , 862px 1152px #FFF , 163px 438px #FFF , 1943px 365px #FFF , 1083px 1213px #FFF , 406px 1739px #FFF , 1859px 340px #FFF , 858px 1064px #FFF , 1044px 400px #FFF , 1824px 294px #FFF , 1809px 715px #FFF , 75px 45px #FFF , 1134px 407px #FFF , 1386px 478px #FFF , 534px 1611px #FFF , 165px 1452px #FFF , 956px 1371px #FFF , 911px 321px #FFF , 1734px 913px #FFF , 1704px 174px #FFF , 794px 1635px #FFF , 1182px 1066px #FFF , 1301px 1540px #FFF , 40px 348px #FFF , 1125px 1223px #FFF , 1751px 1050px #FFF , 925px 1184px #FFF , 1046px 1658px #FFF , 410px 1189px #FFF , 1133px 1123px #FFF , 1160px 1215px #FFF , 921px 1111px #FFF , 488px 731px #FFF , 480px 340px #FFF , 703px 1032px #FFF , 1206px 602px #FFF , 911px 450px #FFF , 1172px 1593px #FFF , 1505px 1261px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1522px 590px #FFF , 1760px 484px #FFF , 1712px 1942px #FFF , 1722px 1557px #FFF , 55px 171px #FFF , 1659px 1935px #FFF , 1552px 474px #FFF , 1579px 1017px #FFF , 1285px 1596px #FFF , 618px 188px #FFF , 697px 1117px #FFF , 1551px 1903px #FFF , 1333px 1634px #FFF , 181px 1209px #FFF , 796px 1376px #FFF , 1509px 1409px #FFF , 1696px 1434px #FFF , 915px 1023px #FFF , 549px 398px #FFF , 897px 98px #FFF , 1506px 104px #FFF , 309px 1555px #FFF , 528px 1833px #FFF , 1751px 660px #FFF , 1954px 93px #FFF , 825px 1312px #FFF , 667px 1351px #FFF , 135px 1107px #FFF , 765px 502px #FFF , 534px 219px #FFF , 802px 61px #FFF , 659px 438px #FFF , 238px 243px #FFF , 1999px 127px #FFF , 844px 1371px #FFF , 1px 1861px #FFF , 1134px 1346px #FFF , 1317px 1610px #FFF , 1394px 1622px #FFF , 549px 1122px #FFF , 1915px 1859px #FFF , 1864px 706px #FFF , 1478px 1940px #FFF , 1528px 969px #FFF , 236px 1352px #FFF , 1864px 96px #FFF , 232px 1888px #FFF , 1115px 343px #FFF , 1423px 1731px #FFF , 1814px 136px #FFF , 774px 103px #FFF , 1527px 475px #FFF , 1491px 147px #FFF , 1136px 1857px #FFF , 1951px 970px #FFF , 886px 26px #FFF , 1526px 785px #FFF , 1447px 1435px #FFF , 173px 1293px #FFF , 1521px 918px #FFF , 540px 1804px #FFF , 1805px 1587px #FFF , 862px 1152px #FFF , 163px 438px #FFF , 1943px 365px #FFF , 1083px 1213px #FFF , 406px 1739px #FFF , 1859px 340px #FFF , 858px 1064px #FFF , 1044px 400px #FFF , 1824px 294px #FFF , 1809px 715px #FFF , 75px 45px #FFF , 1134px 407px #FFF , 1386px 478px #FFF , 534px 1611px #FFF , 165px 1452px #FFF , 956px 1371px #FFF , 911px 321px #FFF , 1734px 913px #FFF , 1704px 174px #FFF , 794px 1635px #FFF , 1182px 1066px #FFF , 1301px 1540px #FFF , 40px 348px #FFF , 1125px 1223px #FFF , 1751px 1050px #FFF , 925px 1184px #FFF , 1046px 1658px #FFF , 410px 1189px #FFF , 1133px 1123px #FFF , 1160px 1215px #FFF , 921px 1111px #FFF , 488px 731px #FFF , 480px 340px #FFF , 703px 1032px #FFF , 1206px 602px #FFF , 911px 450px #FFF , 1172px 1593px #FFF , 1505px 1261px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.constant-tilt-shake {
  animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

